body {
  background-color: #000000;
}

main p, div{
  color: #FFFFFF ;
  font-size: 24px;
}

#box1 {
  box-sizing: border-box;
  background-color: #888888;
  width: 340px;
  height: 200px;
  padding: 20px;
  border: 10px solid #98FB98;
  border-radius: 5px;
  margin: 30px 30px 40px;
}

#box2 {
  box-sizing: border-box;
  background-color: #888888;
  width: 340px;
  height: 200px;
  padding: 20px;
  border: 10px solid #98FB98;
  border-radius: 5px;
  margin: 50px 30px 30px;
  position: relative;
  bottom: 20px
}

#box3 {
  box-sizing: border-box;
  background-color: #888888;
  width: 340px;
  height: 200px;
  padding: 20px;
  border: 10px solid #98FB98;
  border-radius: 5px;
  margin: 30px;
  position: relative;
  top: 30px
}